/* ================ GLOBAL STYLES ================ */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;

  /* Makes background outside of main container a gradient that changes colors from a dark green, to lighter green */
  background-image: linear-gradient(#1f4a2b, #869c8b)
}

/* ================ GENERAL PAGE CLASSES  ================ */

/* Sets the body of the container the white */
.container-body {
    background-color:#FFFFFF;
}

/* Class for the bullet visual divider in the footer, margin top to align with other elements */
.bullet-Divider {
    margin-top:8px;
}

/* Class for section links, */
/* Sets default to no underline, black text color (see ctrl+f "LINK STYLES =" for hover and active styles) */
.sectionLink {
    text-decoration:none;
    color:#000000;
}

/* Class used for sectionLinks that are DISCLAIMERS and are URGENT */
/* Check ctrl+f "LINK STYLES =" for hover and active styles */
.sectionLinkDisclaimer {
    text-decoration:underline;
    color:#A80000;
}

/* ================ NAVBAR ================ */

/* Class created just for the top navigation menu, check ctrl+f "LINK STYLES =" for color change and underlining*/
.topNav {
}

/* ================ CAROUSEL ================ */

/* Makes space between the carousel and the main body of content */
.carousel {
  margin-bottom: 4rem;
}

/* Brings the carousel caption up further */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}


/* Lowers height to make sure caption and buttons can fit nicer on carousel */
.carousel-item {
  height: 32rem;
}

/* ================ OVERRULE BOOTSTRAP CSS ================ */

.border-top {
    border-color:#000000!important;
}

.text-body-secondary {
    color:#000000!important;
}

/* ================ LINK STYLES ================ */

/* Makes only the hyperlinks with the .nav-link class underlined (all links but top left logo) */
/* Only style applied to bottom footer links, footer links don't change colors like links in navbar */
a.nav-link:hover {
    text-decoration:underline;
}

/* Color property only applied to hovered links in nav, except for logo in top left */
a.topNav:hover {
    color:#0000FF!important;
}

/* Color property only applied to links being clicked in the nav, except for logo in top left */
a.topNav:active {
    color:#0000D6!important;
}

/* sectionLink class while hovered will gain a blue coloriong and underline */
a.sectionLink:hover {
    color:#0000FF!important;
    text-decoration:underline;
}

/* sectionLink will clicked on will gain a darker blue coloring and underline */
a.sectionLink:active {
    color:#0000D6!important;
    text-decoration:underline;
}

/* sectionLink for disclaimers when hovered will become darker */
/* There's no sectionLinkDisclaimer active since the hover red is already a very dark shade, almost unnoticable*/
a.sectionLinkDisclaimer:hover {
    color:#610000;
}

/* ======= NEW CODE ======= */

